@model ArtistViewModel
    @{
        ViewBag.Title = "Artist";
    }
    @section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    }

    <div>
        
        <div>
            @*<img src="~/img/AnaTest2.jpg" />*@
            <h3>
                @Model.FName @Model.LName
            </h3>
            <p class="font-weight-bold">@Model.Email</p>
                <p>Bio: @Model.Bio</p>
            <hr />
            <h6>Experiences</h6>
            <div class="row">
                @foreach (var e in Model.Experiences)
                {
                <div class="col-md-4">
                    <div class="border bg-light rounded p-1">
                        <h6>@e.ArtistRole</h6>
                        <ul>
                            <li>@e.StartDate.ToShortDateString() - @e.EndDate.ToShortDateString()</li>
                            <li>@e.RoleDescription</li>
                            <li>@e.Contact</li>
                        </ul>
                        <a asp-action="Experience" asp-route-id="@e.Id" asp-controller="App" id="updateExperience" class="btn btn-success">Update</a>
                        <a method="post" asp-action="DeleteExperience"  asp-route-id="@e.Id" asp-controller="App" id="deleteExperience" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                }
            </div>
            <hr />
            <h6>Contents</h6>
            <div class="row">
                @foreach (var c in Model.Contents)
                {
                <div class="col-md-4">
                    <div class="border bg-light rounded p-1">
                        <h6>@c.ContentName</h6>
                        <ul>
                            <li>@c.DateRecorded.ToShortDateString()</li>
                            <li>@c.Category</li>
                            <li><a href="@c.Link">@c.Link</a></li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
