@model IEnumerable<Artist>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                @*<img src="~/img/AnaTest2.jpg" />*@
                <h3>
                    @p.FName @p.LName
                </h3>
                <ul>
                    <li>@p.Bio</li>
                    <li>@p.Email</li>
                    @foreach (var e in p.Experiences)
                    {
                        <li>@e.ArtistRole</li>
                        <li>@e.StartDate - @e.EndDate</li>
                    }
                </ul>
                <button id="updateContent" class="btn btn-success">Update Info</button>
            </div>
        </div>
    }
</div>
@*<div class="row">
        <div class="col-md-9">
            <div class="musician-info">
                <img src="~/img/AnaTest2.jpg" />
                <h3>
                    Ana
                </h3>
                <ul class="musician-props">
                    <li>Conservatory: Plasencia, Spain</li>
                    <li>High Grade: San Sebastian, Spain</li>
                    <li>Masters: Salzburg, Austria</li>
                </ul>
                <button id="updateContent" class="btn btn-success">Update Info</button>
            </div>

            <div id="theForm">
                <form>
                    <label>Role</label>
                    <br />
                    <input />
                    <br />
                    <label>Country</label>
                    <br />
                    <input type="text" />
                    <br />
                    <label>Start Date</label>
                    <br />
                    <input type="date" />
                    <br />
                    <label>End Date</label>
                    <br />
                    <input type="date" />
                    <br />
                    <label>Description</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Save" />
                </form>
            </div>

            <div>
                <div id="loginToggle">Login</div>
                <form class="popup-form">
                    <div>
                        <label>Username</label>
                        <input />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember me?</label>
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p>Testing</p>
        </div>
    </div>*@
